@charset "EUC-KR";
table {
    width: 50%;
    margin: 25px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top:30px;
}
.look{
	display: inline-block;
    font-size: 14px;
    padding:6px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}
/* Header Styles */
th {
    background-color: #3498db;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: bold;
}

/* Cell Styles */
td, th {
    border: 1px solid #ddd;
    padding: 15px;
}

/* Row Hover Effect */
tr:hover {
    background-color: #f2f2f2;
}

/* Table Container Shadow */
table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.go {
   margin-left: 350px;
   margin-top: 20px;
   padding: 4px;;
   
}