@charset "EUC-KR";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 뷰포트 높이보다 작은 경우에도 전체 페이지 높이 유지 */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
