@charset "EUC-KR";
input{
	display: inline-block;
    font-size: 14px;
    padding:6px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}