@charset "EUC-KR";
		body {
            font-family: Arial, sans-serif;
            background-color: rgb(39, 55, 77); /* 배경색을 그레이로 변경 */
            text-align: center;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: rgb(39, 55, 77); /* 헤더 배경색을 그레이로 설정 */
            padding: 15px;
            text-align: left; /* 텍스트 왼쪽 정렬 */
        }

        header img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        header a {
            color: white;
            text-decoration: none;
            margin-left: 10px;
        }

        form {
            width: 400px;
            height: 170px; /* 폼 높이를 170px로 조정 */
            margin: 180px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            box-sizing: border-box;
            background-color: #fff; /* 배경색을 흰색으로 변경 */
            border: 1px solid #ddd; /* 테두리를 그레이로 변경 */
        }

        input[type="submit"],
        input[type="reset"] {
            width: 25%;
            float: right;
            margin-right: 10px;
            padding: 15px;
            background-color: lightgray; /* 배경색을 어두운 그레이로 변경 */
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type="submit"]:hover,
        input[type="reset"]:hover {
            background-color: #555; /* hover 시 배경색을 더 어두운 그레이로 변경 */
        }

        a {
            color: gray;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }